<table border="2">
 		<tr>
 		<th>Id</th>
 		<th>nombre</th>
 		<th>mail</th>
 		<th>perfil</th> 		
 		<th>modificar</th>
 		<th>eliminar</th>
 		</tr>		
		<tr ng-repeat="user in listaUser">		 
			<td>{{user.id}}</td>
			<td>{{user.nombre}}</td>
			<td>{{user.mail}}</td>
			<td>{{user.perfil}}</td>
			<td><input type="button"  value="Modificar" ng-click="Modificar(user.id)"></td>
			<td><input type="button"  value="Eliminar" ng-click="borrarUsuario(user.id)"></td>
			<td></td>
		</tr>
</table>

