<table border="2">
 		<tr>
 		<th>Id</th>
 		<th>descripcion</th>
 		<th>precio</th>
 		<th ng-if="per!='comprador'">Modificar</th>
 		<th ng-if="per!='comprador'">Eliminar</th></tr>		
		<tr ng-repeat="prod in listaProd">		 
			<td>{{prod.id_producto}}</td>
			<td>{{prod.descripcion}}</td>
			<td>{{prod.precio}}</td>
				<td ng-if="per!='comprador'"><input type="button"  value="Modificar" ng-click="IrModificarP(prod)"></td>
				<td ng-if="per!='comprador'"><input type="button"  value="Eliminar" ng-click="IrEliminarP(prod)"></td>
			<td></td>
		</tr>
</table>

